<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chart.js</title>
</head>
<body ng-app="myApp" ng-controller="myCtrl">
    <button ng-click="changeMe()">Change Data</button>
    
    <div style="width:auto; height:auto;">
        <canvas id="myChart1" width="400" height="400"></canvas>
    </div>
    <div style="width: 400px;height: 400px">
            <canvas id="myChart2" width="80" height="80"></canvas>
    </div>
    <!-- doesn't work with ng-repeat 
    <div style="width: 400px;height: 400px" ng-repeat="item in myObjectFullOfCharts">
        <canvas id="myChart{{$index}}" width="400" height="400"></canvas>
    </div>
    -->
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
<script src="app.js"></script>
</html>